<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'sistemas/js/funciones.js' %}"></script>
    <link rel="stylesheet" href="{% static 'sistemas/css/estilos.css' %}" type="text/css" />
    <title>{% block b_titulo %}{% endblock %}</title>
</head>
<body onload="bienvenida()">

<div id="encabezado" onclick="mostrarMensaje1()">
	<h1>{% block b_encabezado %}{% endblock %}- Publico</h1>
</div>

<div id="menu">
    {% block b_menu %}{% endblock %}
</div>

<div id="contenido">
	{% block b_contenido %}{% endblock %}
    agregando js a la pagina publica
</div>
<div id="pie">
{% block b_pie %}
<hr>
<p>Sitio desarrollado por ddc.</p>
{% endblock %}
</div>
</body>
</html>

