<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'sistemas/js/funciones.js' %}"></script>
    <link rel="stylesheet" href="{% static 'sistemas/css/estilos.css' %}" type="text/css" />
	<title>{% block b_titulo %}{% endblock %}</title>
</head>

<body>

<div id="encabezado">
	<h1>{% block b_encabezado %}{% endblock %}Privada</h1>
</div>

<div id="menu">
	{% block b_menu %}{% endblock %}
</div>

<div id="contenido">
	<p>Hola: <strong>{% firstof user.get_short_name user.get_username %}</strong></p>
	{% block b_contenido %}{% endblock %}
</div>
<div id="pie">
{% block b_pie %}
<hr>
<p>Sitio desarrollado por ddc.</p>
{% endblock %}
</div>

</body>
</html>

