{% extends "base_privada.html" %}

{% block b_titulo %}SOPORTE - SISTEMAS{% endblock %}
{% block b_encabezado %}SISTEMA DE SOPORTE {% endblock %}
{% block b_menu %} 
<UL >
	<LH> Menu </LH>
		<LI> soporte 1
		<LI> soporte 2
		<LI> <a href="../">Salir</a> 
	</UL> 
{% endblock %}
{% block b_contenido %}
<p>Este es el SISTEMA DE SOPORTE </p>
<p>Estos son los requerimientos del dia: </p>
{% if lista_requerimientos %}
<table border=1 cellspacing=0 cellpadding=0>
 
 <tr >
  <td width=40% valign=top >
	Fecha  
  </td>
  <td width=40% valign=top>
  	Descripcion
  </td>
  <td width=10% valign=top>
  	Responsable
  </td>
  <td  valign=top >
  1
  </td>
  <td valign=top>
  2
  </td>
 </tr>

	{% for requerimiento in lista_requerimientos %}

 <tr >
  <td  valign=top >
  <p> {{ requerimiento.fecha_inicio}}</p>
  </td>
  <td >
  <p> {{ requerimiento.descripcion}}</p>
  </td>
  <td valign=top>
  <p> {{ requerimiento.responsable}}</p>
  </td>
  <td  valign=top>
  </td>
  <td  valign=top >
  </td>
 </tr>
		
	{% endfor %}	
</table>

{% else%}
	<p>No hay Requerimientos</p>
{% endif %}
{% endblock %}